## pd01. Series, DataFrame

In [8]:
import pandas as pd

### 1. Series : 1차원

In [9]:
menu = pd.Series(['비빔밥', '김치찌개', '된장찌개'])
menu

0     비빔밥
1    김치찌개
2    된장찌개
dtype: object

In [10]:
price = pd.Series([10000,9000,8000])
price

0    10000
1     9000
2     8000
dtype: int64

### 2. DataFrame : 2차원
- 행(rows): 데이터/ 레코드(가로)
- 열(columns): 컬럼 전체(세로)

In [12]:
pd.DataFrame({"menu": menu, "price": price})

   menu  price
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [15]:
df = pd.DataFrame({"메뉴":['비빔밥', '김치찌게', '된장찌게'],
                   "가격":[10000,9000,8000],
                    "원산지":['국내산','국내산','국내산']})
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌게   9000  국내산
2  된장찌게   8000  국내산

In [16]:
df['메뉴']

0     비빔밥
1    김치찌게
2    된장찌게
Name: 메뉴, dtype: object

In [17]:
df[['메뉴']]

     메뉴
0   비빔밥
1  김치찌게
2  된장찌게

In [18]:
df[['메뉴','가격']]

     메뉴     가격
0   비빔밥  10000
1  김치찌게   9000
2  된장찌게   8000

In [23]:
cols=['메뉴','가격']
df[cols]

     메뉴     가격
0   비빔밥  10000
1  김치찌게   9000
2  된장찌게   8000

In [27]:
print("df          :", type(df))
print("df['가격']   :", type(df['가격']))
print("df[['가격']] :", type(df[['가격']]))

df          : <class 'pandas.core.frame.DataFrame'>
df['가격']   : <class 'pandas.core.series.Series'>
df[['가격']] : <class 'pandas.core.frame.DataFrame'>