## pd02. Save_Read

In [8]:
import pandas as pd

df = pd.DataFrame({
    "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격":[4500,5000,5500,5000,4000,5900,5300],
    "칼로리":[10,110,250,110,20,210,0]
})

df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

### 1. csv로 저장

In [26]:
df.to_csv('data/temp.csv')

### 2. csv 불러오기

In [28]:
temp_df = pd.read_csv('data/temp.csv')
temp_df.head()

   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20

- Unnamed:0  
데이터를 저장할 때 기본 설정으로 기존 인덱스가 값으로 함께 저장됨.

- 가장 오른쪽에 있는 인덱스  
데이터를 불러올 때 새론 생성된 인덱스

### 3. csv 저장 옵션
인데스 제외하고 저장하기

In [29]:
df.to_csv('data/cafe.csv', index=False)
df = pd.read_csv('data/cafe.csv')
df.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

### 4. csv 불러오기 옵션
##### (1) index_col
인덱스로 사용할 컬러명 또는 열의 번호 지점

In [30]:
pd.read_csv('data/temp.csv', index_col=0)

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

##### (2) usecols
불러올 컬럼명 또는 열의 번호를 지정

In [31]:
pd.read_csv('data/temp.csv', usecols=[1,2,3])

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

##### (3) parse_dates
문자열로 된 컬럼을 날짜 datatime으로 파싱

##### (4) encoding
기본 'UTF-8' 사용  
'cp949' or 'euc-kr'