## pd07. 인덱싱/슬라이싱(loc)

In [2]:
import pandas as pd

df = pd.read_csv('data/cafe.csv')
df.head(2)

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110

### 1. 인덱싱

In [3]:
df.loc[0]

메뉴     아메리카노
가격      4500
칼로리       10
Name: 0, dtype: object

In [5]:
df.loc[1,"가격"]

np.int64(5000)

### 2. 슬라이싱

In [6]:
df.loc[:,"가격"]

0    4500
1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64

In [7]:
df.loc[2,'메뉴':'칼로리']

메뉴     카페모카
가격     5500
칼로리     250
Name: 2, dtype: object

In [8]:
df.loc[2,['메뉴','칼로리']]

메뉴     카페모카
칼로리     250
Name: 2, dtype: object

In [9]:
df.loc[1:3,'메뉴':'가격']

     메뉴    가격
1  카페라떼  5000
2  카페모카  5500
3  카푸치노  5000