## pd08. 인덱싱/슬라이싱(iloc)

In [4]:
import pandas as pd

df = pd.read_csv('data/cafe.csv')
df.drop(0, axis=0, inplace=True)    # 첫 번째 행 삭제
df.head(2)

     메뉴    가격  칼로리
1  카페라떼  5000  110
2  카페모카  5500  250

### 1. 인덱싱

In [6]:
df.iloc[0]

메뉴     카페라떼
가격     5000
칼로리     110
Name: 1, dtype: object

In [8]:
df.iloc[:,1]

1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64

### 2. 슬라이싱

In [12]:
df.iloc[:,1]

1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64

In [13]:
df.iloc[2,0:2]

메뉴    카푸치노
가격    5000
Name: 3, dtype: object

In [15]:
df.iloc[1:3]

     메뉴    가격  칼로리
2  카페모카  5500  250
3  카푸치노  5000  110

In [17]:
df.loc[2:3,'메뉴':'칼로리']

     메뉴    가격  칼로리
2  카페모카  5500  250
3  카푸치노  5000  110