## pd14. 문자열

In [72]:
import pandas as pd

df = pd.DataFrame({'A':['데이터 분석', '기본 학습서', '퇴근 후 열공'],
                   'B':[10,20,30],
                   'C':[' ab cd', 'AB CD', ' ab cd']
                   })
df

         A   B       C
0   데이터 분석  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30   ab cd

### 1. 문자열 변경(치환)

In [73]:
df['A'] = df['A'].replace('분석', '시각화')
df

         A   B       C
0   데이터 분석  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30   ab cd

In [74]:
df['A'] = df['A'].str.replace('분석','시각화')
df

         A   B       C
0  데이터 시각화  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30   ab cd

In [66]:
df['B'] = df['B'].replace(10, 100)
df

         A    B       C
0  데이터 시각화  100   ab cd
1   기본 학습서   20   AB CD
2  퇴근 후 열공   30   ab cd

In [75]:
df['B'] = df['B'].str.replace(20,200)
print(df)

AttributeError: Can only use .str accessor with string values!

### 2. 문자열 분리

In [76]:
df['A'].str.split()

0     [데이터, 시각화]
1      [기본, 학습서]
2    [퇴근, 후, 열공]
Name: A, dtype: object

In [77]:
df['A'].str.split()[0]

['데이터', '시각화']

In [78]:
df['D'] = df['A'].str.split().str[0]
df

         A   B       C    D
0  데이터 시각화  10   ab cd  데이터
1   기본 학습서  20   AB CD   기본
2  퇴근 후 열공  30   ab cd   퇴근

### 3. 특정 문자열 검색

In [79]:
df['A'].str.contains('기본')

0    False
1     True
2    False
Name: A, dtype: bool

In [80]:
df['기본포함유무'] = df['A'].str.contains('기본')
df

         A   B       C    D  기본포함유무
0  데이터 시각화  10   ab cd  데이터   False
1   기본 학습서  20   AB CD   기본    True
2  퇴근 후 열공  30   ab cd   퇴근   False

In [81]:
menu = pd.Series(['맛난버거 세트', '매운 치킨버거', '더블 치즈버거'])
menu.isin(['맛난버거 세트', '더블 치즈버거'])

0     True
1    False
2     True
dtype: bool

In [82]:
menu.str.contains('세트')

0     True
1    False
2    False
dtype: bool

### 4. 문자열 길이

In [83]:
df['문자길이'] = df['A'].str.len()
df

         A   B       C    D  기본포함유무  문자길이
0  데이터 시각화  10   ab cd  데이터   False     7
1   기본 학습서  20   AB CD   기본    True     6
2  퇴근 후 열공  30   ab cd   퇴근   False     7

### 5. 문자열 대(소)문자 변경

In [84]:
'AB cd' == 'ab CD'

False

In [85]:
df['C'] = df['C'].str.lower()
df['C']

0     ab cd
1     ab cd
2     ab cd
Name: C, dtype: object

In [86]:
df['C'] = df['C'].str.upper()
df['C']

0     AB CD
1     AB CD
2     AB CD
Name: C, dtype: object

In [87]:
df['C'] == 'AB CD'

0    False
1     True
2    False
Name: C, dtype: bool

In [88]:
df['C']=df['C'].str.lower()
df['C']=df['C'].str.replace(" ", "")
df['C']

0    abcd
1    abcd
2    abcd
Name: C, dtype: object

In [89]:
df['C'].str.strip()     # 양쪽 공백 제거
df['C'].str.lstrip()    # 왼쪽 공백 제거
df['C'].str.rstrip()    # 왼쪽 공백 제거

0    abcd
1    abcd
2    abcd
Name: C, dtype: object

### 6. 문자열 슬라이싱

In [90]:
df['C'].str[1:3]

0    bc
1    bc
2    bc
Name: C, dtype: object

In [91]:
df['C'][1:3]

1    abcd
2    abcd
Name: C, dtype: object