## 03. 파생변수, 정렬, 인덱싱

In [11]:
import pandas as pd

df = pd.read_csv("data/type1_data1.csv")

1. 결측치가 있는 데이터(행)을 제거하시오.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       116 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB

In [16]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 2 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          70 non-null     object
 1   age         70 non-null     float64
 2   city        70 non-null     object
 3   f1          70 non-null     float64
 4   f2          70 non-null     int64
 5   f3          70 non-null     object
 6   f4          70 non-null     object
 7   f5          70 non-null     float64
 8   subscribed  70 non-null     object
 9   views       70 non-null     float64
dtypes: float64(4), int64(1), object(5)
memory usage: 6.0+ KB

2. 'views'컬럼을 'f1'컬럼으로 나누 값을 새로운 컬럼으로 추가하시오.

In [18]:
df.head()
df['new']=df['views']/df['f1']
df.head()

,id,age,city,f1,f2,f3,f4,f5,subscribed,views,new
2,id03,27.0,서울,61.0,1,gold,ISTJ,17.252986,2024-03-16,7312.0,119.868852
5,id06,22.0,서울,57.0,0,vip,INTP,20.129444,2024-09-12,21550.0,378.070175
7,id08,38.0,서울,101.0,1,silver,INFJ,83.685380,2024-03-06,3260.0,32.277228
9,id10,95.0,서울,74.0,1,gold,ISFP,98.429899,2024-04-03,9992.0,135.027027
10,id100,47.0,경기,53.0,0,vip,ESFP,33.308999,2024-02-21,15535.0,293.113208

3. 새로운 컬럼 값 중 가장 큰값을 가진 행의 age를 정수로 구하시오.

In [36]:
age = df.loc[df['new'].idxmax(),'age']
int(age)

22

In [46]:
df.sort_values('new',ascending=False,inplace=True)
int(df.iloc[0,1])

22