## 04. 값 변경, 정렬, 합계

In [97]:
import pandas as pd

df = pd.read_csv("data/type1_data1.csv")

1. 'view'컬럼의 결측 데이터를 0으로 대체하시오.

In [98]:
df['views'].fillna(0,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       120 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB

2. 'views' 컬럼에서 상위 10번째 값을 구하시오.
3. 'views' 컬럼에서 상위 10개의 값을 상위 10번째 값으로 대체하시오.
4. 'views'컬럼의 전체 합을 정수로 구하시오.

In [103]:
views = df['views'].sort_values(ascending=False)
views10 = views.values[9]
cond = df['views'] > views10
df[cond] = views10

In [99]:
df = df.sort_values('views',ascending=False)
views_min = views.iloc[:10].min()
df.iloc[:10,-1] = views_min

In [105]:
value = df['views'].nlargest(10).iloc[-1]
df.loc[df['views']>value,'views'] = value

In [100]:
int(df['views'].sum())

652812