## 06. 필터링, 분산

In [5]:
import pandas as pd

df = pd.read_csv("data/type1_data1.csv")

1. 'f3'컬럼이 gold이면서 'f2'컬럼이 2인 데이터를 찾으시오.
2. 찾은 데이터 중에서 'f1'컬럼의 분산을 구하시오. (반올림 후 소수 돌째 자리까지 계산)

In [13]:
cond = (df['f3'] == 'gold') & (df['f2'] ==2)
round(df[cond]['f1'].var(),2)

235.43