## 12. 결측치 처리, 최빈값, 데이터 개수

In [30]:
import pandas as pd

df = pd.read_csv("data/type1_data1.csv")

1. 결측치가 가장 많은 두 컬럼을 찾으시오.
2. 첫 번째로 결측치가 많은 컬럼에서 결측치가 있는 데이터(행)을 삭제하시오.
3. 두 번째로 결측치가 많은 컬럼을 최빈값으로 대체하시오.
4. 'f3'컬럼의 'gold'값을 가진 데이터의 수를 정수형으로 구하시오.

In [31]:
df.isnull().sum().nlargest(2)

f1    31
f3    29
dtype: int64

In [32]:
df.dropna(subset=['f1'],inplace=True)
df.isnull().sum()

id             0
age            0
city           0
f1             0
f2             0
f3            19
f4             0
f5             0
subscribed     0
views          2
dtype: int64

In [36]:
freq = df['f3'].mode()[0]
df['f3'].fillna(freq,inplace=True)

In [37]:
int((df['f3']=='gold').sum())

63