## 16. 이상치, IQR

In [1]:
import pandas as pd

df = pd.read_csv("data/type1_data1.csv")

1. 'views'컬럼의 1사분위수, 3사분위수 그리고 IQR을 계산하시오.
2. 이상치 조건에 맞는 데이터를 찾으시오. (이상치는 1사분위수 - (IQR * 1.5)보다 작은 값과 3사분위수 + (IQR*1.5)보다 큰 값)
3. 이상치 데이터의 'views'컬럼 합을 정수로 구하시오.

In [13]:
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)
IQR = q3-q1

In [17]:
line1 = q1-IQR*1.5
line2 = q3+IQR*1.5
cond1 = df['views'] < line1
cond2 = df['views'] > line2
df = df[cond1 | cond2]
df

      id   age city    f1  f2   f3    f4         f5  subscribed    views
5   id06  22.0   서울  57.0   0  vip  INTP  20.129444  2024-09-12  21550.0
32  id32  25.0   부산  64.0   0  vip  ISFJ  13.049921  2024-05-24  17421.0
56  id56  59.0   대구   NaN   1  vip  ESTJ  73.586397  2024-04-05  19589.0
83  id83  73.0   경기  50.0   1  vip  ENTP  80.138280  2024-09-26  19139.0

In [18]:
int(df['views'].sum())

77699