## 17. 이상치, 소수점 있는 데이터 찾기, 표준편차

In [26]:
import pandas as pd

df = pd.read_csv("data/type1_data1.csv")

1. 'views'컬럼의 표준편차를 구하시오.
2. 'age'컬럼의 이상치(소수점 나이, 음수 나이, 0살)를 제거하고, 'views'컬럼의 표준편차를 구하시오.
3. 이상치 제거 전후의 'views'컬럼의 표준편차를 더하여, 반올림 후 소수 둘째 자리까지 구하시오.

In [27]:
std1 = df['views'].std()

In [28]:
df = df[df['age'] > 0]
df = df[df['age'] == round(df['age'],0)]
std2 = df['views'].std()

In [29]:
round(std1+std2,2)

np.float64(8297.31)