## 21. 시간 간의 차이 계산(분), 필터링

In [22]:
import pandas as pd

df = pd.read_csv("data/delivery_time.csv")
df.head()

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176

1. 예상 도착 시간보다 늦게 도착한 건수를 구하시오.
2. 이 중 거리가 7km 이상인 데이터의 수를 정수로 구하시오.

In [23]:
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df['실제도착시간']= pd.to_datetime(df['실제도착시간'])
df['지연시간'] = (df['실제도착시간']-df['예상도착시간']).dt.total_seconds()/60
cond1 = df['지연시간'] > 0

In [24]:
cond2 = df['거리'] >= 7
len(df[cond1&cond2])

311