## 22.시간 간의 차이 계산(분), 그룹핑

In [15]:
import pandas as pd

df = pd.read_csv("data/delivery_time.csv")
df.head()

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176

1. 주문 시간과 실제 도착 시간의 차이를 분 단위로 계산하시오.
2. 앱 종류별로 평균 도착 시간(분)을 계산하시오.
3. 평균적으로 가장 빠른 앱 종류를 찾고, 해당 앱의 평균 도착 시간을 분으로 반올림하여 정수로 구하시오.

In [16]:
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간']= pd.to_datetime(df['실제도착시간'])

df['도착시간'] = (df['실제도착시간']-df['주문시간']).dt.total_seconds()/60

In [17]:
df = df.groupby('앱종류').mean(numeric_only=True)
df

            거리       도착시간
앱종류
배고팡  10.109911  61.818694
배달왕   9.655749  63.517864
여기여   9.854316  62.343110

In [27]:
round(df.loc['배고팡','도착시간'])

62