## 27. 시간 범위, 속도(km/h)

In [43]:
import pandas as pd

df = pd.read_csv("data/delivery_time.csv")
df.head()

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176

1. 점심시간(10시부터 13시 전까지)에 주문된 배달 데이터를 찾으시오.
2. 점심시간 주문 건 중 과속(평균 속도가 50km/h이상)하는 주문수를 정수로 구하시오.
- 배달시간 = 실제도착시간 - 주문시간
- 속도(km/h)=거리(km)/시간(h)

In [44]:
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
cond1 = df['주문시간'].dt.hour >= 10 
cond2 = df['주문시간'].dt.hour < 13
afternoon_order = df[cond1 & cond2]
afternoon_order

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
7,2023-01-19 11:32:02,2023-01-19 13:10:13,2023-01-19 13:24:54,여기여,10.04,카드,user_337
18,2023-02-03 11:08:34,2023-02-03 12:08:07,2023-02-03 11:44:14,여기여,18.21,현금,user_198
22,2022-11-03 10:05:17,2022-11-03 11:25:32,2022-11-03 10:52:13,배달왕,4.25,카드,user_204
...,...,...,...,...,...,...,...
968,2022-09-07 12:02:51,2022-09-07 12:22:15,2022-09-07 12:28:03,배고팡,15.48,카드,user_153
973,2023-07-08 12:45:17,2023-07-08 13:58:27,2023-07-08 14:23:47,배고팡,1.60,카드,user_322
981,2023-03-08 10:51:00,2023-03-08 12:29:03,2023-03-08 11:54:56,배고팡,17.21,현금,user_311
994,2023-02-08 12:09:03,2023-02-08 13:24:56,2023-02-08 13:28:54,여기여,12.97,현금,user_418
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239

In [46]:
velocity = afternoon_order['거리']/((afternoon_order['실제도착시간']- afternoon_order['주문시간']).dt.total_seconds()/60/60)
sum(velocity >= 50)

1