## 28. 날짜와 시간, 문자열

In [7]:
import pandas as pd

df = pd.read_csv("data/delivery_time.csv")
df.head()

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176

1. 연도와 월을 기준으로 주문 수를 집계하시오.
2. 가장 많은 주문이 있었던 연도와 월을 예시와 같은 형식으로 숫자로만 구하시오 (예: 2024년 2월인 경우 '202402', 2024년 10월인 경우 '202410')

In [8]:
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')
count_month = df.groupby(['주문월']).size()
count_month

주문월
2022-08    29
2022-09    95
2022-10    79
2022-11    81
2022-12    94
2023-01    82
2023-02    70
2023-03    73
2023-04    88
2023-05    83
2023-06    86
2023-07    83
2023-08    57
Freq: M, dtype: int64

In [10]:
str(count_month.idxmax()).replace('-','')

'202209'